body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background-image: url(https://images.unsplash.com/photo-1597809259188-0e5ffcbb0ba9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
	font-size: 3rem;
	color: blue;
}
hr{	background-color: white;
	border-color: red;
	text-align: center;
}
.buffer{
	height: 5rem;
}
.btn{
	font-weight: 700;
	border-radius: 300px;
	text-transform: uppercase;
}
.btn-primary{
	border-color: orange;
	background-color: orange;
}
